/*body{
    margin: 0px;
}
header{
    position: absolute;
    top: 0px;
    height: 15%;
    width: 100%;
    background-color: rgb(164, 233, 233);
}
.title{
    position: absolute;
    left: 40%;
    

}
.navbar{
    position: absolute;
    top: 50%;
    left: 43%;
}
.navbar>p{
    font-size: 25px;
}
.navbar>p>a{
    text-decoration: none;

}
.navbar>p>a:hover{
    color: rgb(255, 255, 255);
}
.inner{
    position: absolute;
    top: 15%;
}
.inner{
    height: 25%;
    width: 100%;
}
.inner>img:first-of-type{
position: absolute;
right: 15%;
top: 20%;
}
.inner>img:last-of-type{
position: absolute;
left: 15%;
top: 20%;
}
.inner>ul{
position: absolute;
left: 30%;
top: 25%;
}
.inner>ul>li{
    text-align: center;
    list-style-type: none;
    font-size: 30px;
}

footer{
    position: absolute;
    bottom: 0px;
    height: 15%;
    width: 100%;
    background-color: rgb(164, 233, 233);
}
footer>ul:first-of-type{
    position: absolute;
    left: 42%;
}

footer>ul>li{
    list-style-type: none;
}
footer>ul>li>a{
    text-decoration: none;

}
footer>ul>li>a:hover{
    color: rgb(255, 255, 255);
}
footer>ul:last-of-type{
    position: absolute;
    top: 20%;
    right: 44%;
}

*/



    
    
    
    
  /* Desktops and laptops ----------- */
  @media only screen  and (min-width : 1000px) {
    body{
        margin: 0px;
        margin-bottom: 0px;
    }
    header{
        position: absolute;
        top: 0px;
        height: 15%;
        width: 100%;
        background-color: rgb(164, 233, 233);
    }
    .title{
        position: absolute;
        left: 40%;
        
    
    }
    .navbar{
        position: absolute;
        top: 50%;
        left: 43%;
    }
    .navbar>p{
        font-size: 25px;
    }
    .navbar>p>a{
        text-decoration: none;
    
    }
    .navbar>p>a:hover{
        color: rgb(255, 255, 255);
    }
    .inner{
        position: absolute;
        top: 15%;
    }
    .inner{
        height: 25%;
        width: 100%;
    }    .inner>img:first-of-type{
        position: absolute;
        right: 15%;
        top: 20%;
        }
        .inner>img:nth-of-type(2){
        position: absolute;
        left: 15%;
        top: 20%;
        }
        .inner>img:nth-of-type(3){
            position: absolute;
            top: 90%;
            left: 35%;
            
        }
    .inner>ul{
    position: absolute;
    left: 30%;
    top: 25%;
    }
    .inner>ul>li{
        text-align: center;
        list-style-type: none;
        font-size: 16px;
    }
    
    footer{
        position: absolute;
        bottom: 0px;
        height: 15%;
        width: 100%;
        background-color: rgb(164, 233, 233);
    }
    footer>ul:first-of-type{
        position: absolute;
        left: 32%;
    }
    
    footer>ul>li{
        list-style-type: none;
    }
    footer>ul>li>a{
        text-decoration: none;
    
    }
    footer>ul>li>a:hover{
        color: rgb(255, 255, 255);
    }
    footer>ul:last-of-type{
        position: absolute;
        top: 20%;
        right: 44%;
    }
    
    }
    
  
    
    
    
    
    /* Desktops and laptops ----------- */
    @media only screen  and (min-width : 1224px) {
    
    body{
        margin: 0px;
    }
    header{
        position: absolute;
        top: 0px;
        height: 15%;
        width: 100%;
        background-color: rgb(164, 233, 233);
    }
    .title{
        position: absolute;
        left: 40%;
        
    
    }
    .navbar{
        position: absolute;
        top: 50%;
        left: 43%;
    }
    .navbar>p{
        font-size: 25px;
    }
    .navbar>p>a{
        text-decoration: none;
    
    }
    .navbar>p>a:hover{
        color: rgb(255, 255, 255);
    }
    .inner{
        position: absolute;
        top: 15%;
    }
    .inner{
        height: 25%;
        width: 100%;
    }
    .inner>img:first-of-type{
    position: absolute;
    right: 15%;
    top: 20%;
    }
    .inner>img:nth-of-type(2){
    position: absolute;
    left: 15%;
    top: 20%;
    }
    .inner>img:nth-of-type(3){
        position: absolute;
        top: 125%;
        left: 37%;
        
    }
    .inner>ul{
    position: absolute;
    left: 27%;
    top: 25%;
    }
    .inner>ul>li{
        text-align: center;
        list-style-type: none;
        font-size: 30px;
    }
    
    footer{
        position: absolute;
        bottom: 0px;
        height: 15%;
        width: 100%;
        background-color: rgb(164, 233, 233);
    }
    footer>ul:first-of-type{
        position: absolute;
        left: 40%;
    }
    
    footer>ul>li{
        list-style-type: none;
    }
    footer>ul>li>a{
        text-decoration: none;
    
    }
    footer>ul>li>a:hover{
        color: rgb(255, 255, 255);
    }
    footer>ul:last-of-type{
        position: absolute;
        top: 20%;
        right: 40%;
    }
    
    
    
    
    }
    
    
    
    
    
    /* Large screens ----------- */
    @media only screen  and (min-width : 1824px) {
    /* Styles */
    body{
        margin: 0px;
        
    }
    header{
        position: absolute;
        top: 0px;
        height: 15%;
        width: 100%;
        background-color: rgb(164, 233, 233);
    }
    .title{
        position: absolute;
        left: 40%;
        
    
    }
    .navbar{
        position: absolute;
        top: 50%;
        left: 43%;
    }
    .navbar>p{
        font-size: 25px;
    }
    .navbar>p>a{
        text-decoration: none;
    
    }
    .navbar>p>a:hover{
        color: rgb(255, 255, 255);
    }
    .inner{
        position: absolute;
        top: 15%;
    }
    .inner{
        height: 25%;
        width: 100%;
    }    .inner>img:first-of-type{
        position: absolute;
        right: 15%;
        top: 20%;
        }
        .inner>img:nth-of-type(2){
        position: absolute;
        left: 15%;
        top: 20%;
        }
        .inner>img:nth-of-type(3){
            position: absolute;
            top: 95%;
            left: 40%;
            
        }
    .inner>ul{
    position: absolute;
    left: 30%;
    top: 25%;
    }
    .inner>ul>li{
        text-align: center;
        list-style-type: none;
        font-size: 30px;
    }
    
    footer{
        position: absolute;
        bottom: 0px;
        height: 15%;
        width: 100%;
        background-color: rgb(164, 233, 233);
    }
    footer>ul:first-of-type{
        position: absolute;
        left: 42%;
    }
    
    footer>ul>li{
        list-style-type: none;
    }
    footer>ul>li>a{
        text-decoration: none;
    
    }
    footer>ul>li>a:hover{
        color: rgb(255, 255, 255);
    }
    footer>ul:last-of-type{
        position: absolute;
        top: 20%;
        right: 44%;
    }
    
    
    
    
    }
    




