*{
    text-decoration: none;
  }
  
  
    /* Smartphones (landscape) ----------- */
    @media only screen and (min-width : 320px) and (orientation: landscape) {
        body{

            font-family: sato;
            }
      
            .title{
              position: absolute;
              top: 3%;
              text-align: center;
              left: 20%;
              font-family: monospace;
              font-size: 1.5em;
            }
            /*creates the navbar*/
          .navbar{
            position: absolute;
          
            top: 10%;
            width: 100%;
            height: 5%;
            color: pink;
            
            text-decoration: none;
          }
          .navbar>p{
              text-align: center;
          }
          .navbar>p>a{
            color: rgb(248, 69, 209);
          }
      
            
            .one{
              position: absolute;
              left: 0px;
              top: 20%;
              width: 100%;
              border: pink 2px solid;
              color: rgb(233, 125, 125);
              height: 60%;
              
            }
            .one>h1{
              position: absolute;
              left: 44%;
              top: -5%;
              text-align: center;
              font-size: 1em;
              color: rgb(233, 125, 125);
              text-decoration: none;
            }
            .one>img:first-of-type{
              position: absolute;
              top:15%;
              left: 0%;
              width:25%;
              
              
            }
            .one>img:last-of-type{
                position: absolute;
                top: 25%;
                right: 0%;
                width: 25%;
      
            }
            .one>p{
              position: absolute;
              top: 10%;
              left: 25%;
              text-align: center;
              font-size: .8em;
              width: 50%;
            }
            
            
            
            
            .two{
              position: absolute;
              left: 0px;
              top: 60%;
              width: 100%;
              height: 55%;
              background-color: white;
              color:rgb(233, 125, 125) ;
              border: pink 2px solid;
            }
            .two>h1{
              text-align: center;
              font-size: 1em;
              color: rgb(212, 75, 75);
              text-decoration: white;
            }
            .two>img{
              position: absolute;
              left: 25%;
              top: 19%;
              width: 44%;
            }
            .two>p:first-of-type{
              text-align: center;
              font-size: .8em;
              position: absolute;
              top: 9%;
              right: 0%;
              width: 25%;
            }
            .two>p:last-of-type{
            text-align: center;
            font-size: .8em;
            position: absolute;
            top: 9%;
            left: 0%;
            width: 25%;
            }
    
  
    }
    
  
    /* Smartphones (portrait) ----------- */
    @media only screen and (min-width : 320px) and (orientation: portrait) {
      

    body{

      font-family: sato;
      }

      .title{
        position: absolute;
        top: 3%;
        text-align: center;
        left: 20%;
        font-family: monospace;
        font-size: 1.5em;
      }
      /*creates the navbar*/
    .navbar{
      position: absolute;
    
      top: 10%;
      width: 100%;
      height: 5%;
      color: pink;
      
      text-decoration: none;
    }
    .navbar>p{
        text-align: center;
    }
    .navbar>p>a{
      color: rgb(248, 69, 209);
    }

      
      .one{
        position: absolute;
        left: 0px;
        top: 20%;
        width: 100%;
        border: pink 2px solid;
        color: rgb(233, 125, 125);
        height: 20%;
        
      }
      .one>h1{
        position: absolute;
        left: 38%;
        top: 0%;
        text-align: center;
        font-size: 1em;
        color: rgb(233, 125, 125);
        text-decoration: none;
      }
      .one>img:first-of-type{
        position: absolute;
        top:15%;
        left: 0%;
        width:25%;
        
        
      }
      .one>img:last-of-type{
          position: absolute;
          top: 25%;
          right: 0%;
          width: 25%;

      }
      .one>p{
        position: absolute;
        top: 10%;
        left: 25%;
        text-align: center;
        font-size: .8em;
        width: 50%;
      }
      
      
      
      
      .two{
        position: absolute;
        left: 0px;
        top: 40%;
        width: 100%;
        height: 45%;
        background-color: white;
        color:rgb(233, 125, 125) ;
        border: pink 2px solid;
      }
      .two>h1{
        text-align: center;
        font-size: 1em;
        color: rgb(212, 75, 75);
        text-decoration: white;
      }
      .two>img{
        position: absolute;
        left: 25%;
        top: 15%;
        width: 50%;
      }
      .two>p:first-of-type{
        text-align: center;
        font-size: .8em;
        position: absolute;
        top: 9%;
        right: 0%;
        width: 25%;
      }
      .two>p:last-of-type{
      text-align: center;
      font-size: .8em;
      position: absolute;
      top: 9%;
      left: 0%;
      width: 25%;
      }
    }
      
      
      
 
      
  
      
 
  
  
  
  /* 
  
   Tablets (portrait)
  */
  
  @media (min-width: 768px) and (max-width: 1024px) and (orientation: portrait) {
    body{

        font-family: sato;
        }
  
        .title{
          position: absolute;
          top: 3%;
          text-align: center;
          left: 20%;
          font-family: monospace;
          font-size: 1.5em;
        }
        /*creates the navbar*/
      .navbar{
        position: absolute;
      
        top: 10%;
        width: 100%;
        height: 5%;
        color: pink;
        
        text-decoration: none;
      }
      .navbar>p{
          text-align: center;
      }
      .navbar>p>a{
        color: rgb(248, 69, 209);
      }
  
        
        .one{
          position: absolute;
          left: 0px;
          top: 20%;
          width: 100%;
          border: pink 2px solid;
          color: rgb(233, 125, 125);
          height: 20%;
          
        }
        .one>h1{
          position: absolute;
          left: 38%;
          top: -5%;
          text-align: center;
          font-size: 1em;
          color: rgb(233, 125, 125);
          text-decoration: none;
        }
        .one>img:first-of-type{
          position: absolute;
          top:15%;
          left: 0%;
          width:25%;
          
          
        }
        .one>img:last-of-type{
            position: absolute;
            top: 25%;
            right: 0%;
            width: 25%;
  
        }
        .one>p{
          position: absolute;
          top: 10%;
          left: 25%;
          text-align: center;
          font-size: 1.1em;
          width: 50%;
        }
        
        
        
        
        .two{
          position: absolute;
          left: 0px;
          top: 40%;
          width: 100%;
          height: 45%;
          background-color: white;
          color:rgb(233, 125, 125) ;
          border: pink 2px solid;
        }
        .two>h1{
          text-align: center;
          font-size: 1em;
          color: rgb(212, 75, 75);
          text-decoration: white;
        }
        .two>img{
          position: absolute;
          left: 25%;
          top: 19%;
          width: 50%;
        }
        .two>p:first-of-type{
          text-align: center;
          font-size: 1em;
          position: absolute;
          top: 9%;
          right: 0%;
          width: 25%;
        }
        .two>p:last-of-type{
        text-align: center;
        font-size: 1em;
        position: absolute;
        top: 9%;
        left: 0%;
        width: 25%;
        }
  
 
      
    
  }
  
  /*tablets*/
  @media (min-width: 768px) and (max-width: 1024px) and (orientation: landscape) {
    body{

        font-family: sato;
        }
  
        .title{
          position: absolute;
          top: 3%;
          text-align: center;
          left: 32%;
          font-family: monospace;
          font-size: 1.5em;
        }
        /*creates the navbar*/
      .navbar{
        position: absolute;
      
        top: 10%;
        width: 100%;
        height: 5%;
        color: pink;
        
        text-decoration: none;
      }
      .navbar>p{
          text-align: center;
      }
      .navbar>p>a{
        color: rgb(248, 69, 209);
      }
  
        
        .one{
          position: absolute;
          left: 0px;
          top: 20%;
          width: 100%;
          border: pink 2px solid;
          color: rgb(233, 125, 125);
          height: 40%;
          
        }
        .one>h1{
          position: absolute;
          left: 46%;
          top: -5%;
          text-align: center;
          font-size: 1.6em;
          color: rgb(233, 125, 125);
          text-decoration: none;
        }
        .one>img:first-of-type{
          position: absolute;
          top:10%;
          left: 0%;
          width:25%;
          
          
        }
        .one>img:last-of-type{
            position: absolute;
            top: 15%;
            right: 0%;
            width: 25%;
  
        }
        .one>p{
          position: absolute;
          top: 10%;
          left: 25%;
          text-align: center;
          font-size: 1.3em;
          width: 50%;
        }
        
        
        
        
        .two{
          position: absolute;
          left: 0px;
          top: 50%;
          width: 100%;
          height: 55%;
          background-color: white;
          color:rgb(233, 125, 125) ;
          border: pink 2px solid;
        }
        .two>h1{
          text-align: center;
          font-size: 1.6em;
          color: rgb(212, 75, 75);
          text-decoration: white;
        }
        .two>img{
          position: absolute;
          left: 25%;
          top: 19%;
          width: 50%;
        }
        .two>p:first-of-type{
          text-align: center;
          font-size: 1.2em;
          position: absolute;
          top: 9%;
          right: 0%;
          width: 25%;
        }
        .two>p:last-of-type{
        text-align: center;
        font-size: 1.2em;
        position: absolute;
        top: 9%;
        left: 0%;
        width: 25%;
        }
    
  
  }
  
  
  
  
  
  
  
  
  
  
  
  
    /* Desktops and laptops ----------- */
    @media only screen  and (min-width : 1124px) {
        body{

            font-family: sato;
            }
      
            .title{
              position: absolute;
              top: 3%;
              text-align: center;
              left: 39%;
              font-family: monospace;
              font-size: 1.5em;
            }
            /*creates the navbar*/
          .navbar{
            position: absolute;
          
            top: 10%;
            width: 100%;
            height: 5%;
            color: pink;
            
            text-decoration: none;
          }
          .navbar>p{
              text-align: center;
          }
          .navbar>p>a{
            color: rgb(248, 69, 209);
          }
      
            
            .one{
              position: absolute;
              left: 0px;
              top: 20%;
              width: 100%;
              border: pink 2px solid;
              color: rgb(233, 125, 125);
              height:40%;
              
            }
            .one>h1{
              position: absolute;
              left: 44%;
              top: -5%;
              text-align: center;
              font-size: 1.8em;
              color: rgb(233, 125, 125);
              text-decoration: none;
            }
            .one>img:first-of-type{
              position: absolute;
              top:5%;
              left: 0%;
              width:25%;
              
              
            }
            .one>img:last-of-type{
                position: absolute;
                top: 5%;
                right: 0%;
                width: 25%;
      
            }
            .one>p{
              position: absolute;
              top: 10%;
              left: 25%;
              text-align: center;
              font-size: 1.5em;
              width: 50%;
            }
            
            
            
            
            .two{
              position: absolute;
              left: 0px;
              top: 55%;
              width: 100%;
              height: 60%;
              background-color: white;
              color:rgb(233, 125, 125) ;
              border: pink 2px solid;
            }
            .two>h1{
              text-align: center;
              font-size: 1.8em;
              color: rgb(212, 75, 75);
              text-decoration: white;
            }
            .two>img{
              position: absolute;
              left: 30%;
              top: 14%;
              width: 40%;
            }
            .two>p:first-of-type{
              text-align: center;
              font-size: 1.5em;
              position: absolute;
              top: 9%;
              right: 0%;
              width: 25%;
            }
            .two>p:last-of-type{
            text-align: center;
            font-size: 1.5em;
            position: absolute;
            top: 9%;
            left: 0%;
            width: 25%;
            }
        
        
        
    }
    
  
  
  
  
  
  
  